---
layout: default
---
<div class="heading" id="toc">
	<h2>Table of contents</h2>
	<blockquote>
		<p>Why, anybody can have a brain. That's a very mediocre commodity. Every pusillanimous creature that crawls on the Earth or slinks through slimy seas has a brain. Back where I come from, we have universities, seats of great learning, where men go to become great thinkers. And when they come out, they think deep thoughts and with no more brains than you have. But they have one thing you haven't got: a <strong>Code Guide</strong>.</p>
	</blockquote>
</div>
<div class="section toc">
	<div class="col">
		<h4><span class='char char-lion'></span> <a href="#html">HTML</a></h4>
		<ul>
			<li><a href="#html-syntax">Syntax</a></li>
			<li><a href="#html-doctype">HTML5 doctype</a></li>
			<li><a href="#html-style-script">CSS and JavaScript includes</a></li>
			<li><a href="#html-practicality">Practicality over purity</a></li>
			<li><a href="#html-attribute-order">Attribute order</a></li>
			<li><a href="#html-boolean-attributes">Boolean attributes</a></li>
			<li><a href="#html-reducing-markup">Reducing markup</a></li>
			<li><a href="#html-javascript">JavaScript generated markup</a></li>
			<li><a href="#html-comments">Commenting</a></li>
		</ul>
		<br />
		<h4><span class='char char-scarecrow'></span> <a href="#css">CSS</a></h4>
		<ul>
			<li><a href="#css-syntax">CSS syntax</a></li>
			<li><a href="#css-javascript">Javascript Classes</a></li>
			<li><a href="#css-quotes">Quotes</a></li>
		</ul>
	</div>
	<div class="col">
		<h4><span class='char char-dorothy'></span> <a href="#javascript">Javascript</a></h4>
		<ul>
			<li><a href="#js-syntax">Syntax</a></li>
			<li><a href="#js-object-creation">Object and Array Creation</a></li>
			<li><a href="#js-reserved">Reserved Words</a></li>
			<li><a href="#js-push">Pushing to an Array</a></li>
			<li><a href="#js-slice">Copying Arrays</a></li>
			<li><a href="#js-strings">Strings</a></li>
			<li><a href="#js-string-join">Joining Strings</a></li>
			<li><a href="#js-functions">Functions</a></li>
			<li><a href="#js-arguments">Arguments</a></li>
			<li><a href="#js-properties">Properties</a></li>
			<li><a href="#js-variables">Variables</a></li>
			<li><a href="#js-multiple-variables">Declaring Multiple Variables</a></li>
			<li><a href="#js-unassigned-variables">Declaring Unassigned Variables</a></li>
			<li><a href="#js-where-variables">Where to Declare Variables</a></li>
			<li><a href="#js-hoisting">Hoisting</a></li>
			<li><a href="#js-equality">Conditional Expressions & Equality</a></li>
		</ul>
	</div>
	<div class="col">
		<h4><span class='char char-tinman'></span> <a href="#automation">Testing &amp; Automation</a></h4>
		<ul>
			<li><a href='#'>Testing with QUnit</a></li>
			<li><a href='#'>Automating common tasks with Grunt</a></li>
			<li><a href='#'>Linting</a></li>
		</ul>
	</div>
</div>
<div class="section" id="golden-rule">
	<div class="col">
		<h2>Golden rule</h2>
		<p>Enforce these agreed upon guidelines at all times. Small or large, call out what's incorrect. For additions or contributions to this Code Guide, please <a href="https://github.com/rtraction/yellow-brick-road/issues/new">open an issue on GitHub</a>.</p>
	</div>
	<div class="col">
		<blockquote>
			<p>Every line of code should appear to be written by a single person, no matter the number of contributors.</p>
		</blockquote>
	</div>
</div>
<div class="heading" id="html">
	<h2><span class='char char-lion'></span> HTML</h2>
	<blockquote>
		<p>I do, I do, I do, I *do* believe in <strong>symantic markup</strong>!</p>
	</blockquote>
</div>
<div class="section" id="html-syntax">
	<div class="col">
		<h3>Syntax</h3>
		<ul>
			<li>Use actual tab characters. In Sublime Text, you can convert a spaced-out or mixed file to use tabs using this helpful tool in the bottom right corner:<br /><img src='tabs.png' /></li>
			<li>Nested elements should be indented once.</li>
			<li>Always use double quotes, never single quotes, on attributes.</li>
			<li>Include a trailing slash in self-closing elements.</li>
			<li>Don’t omit optional closing tags (e.g. <code>&lt;/li&gt;</code> or <code>&lt;/body&gt;</code>).</li>
		</ul>
	</div>
	<div class="col">
		{% highlight html %}{% include html/syntax.html %}{% endhighlight %}
	</div>
</div>
<div class="section" id="html-doctype">
	<div class="col">
		<h3>HTML5 doctype</h3>
		<p>Enforce standards mode and more consistent rendering in every browser possible with this simple doctype at the beginning of every HTML page.</p>
	</div>
	<div class="col">
		{% highlight html %}{% include html/doctype.html %}{% endhighlight %}
	</div>
</div>
<div class="section" id="html-style-script">
	<div class="col">
		<h3>CSS and JavaScript includes</h3>
		<p>Per HTML5 spec, typically there is no need to specify a <code>type</code> when including CSS and JavaScript files as <code>text/css</code> and <code>text/javascript</code> are their respective defaults.</p>
		<h4>HTML5 spec links</h4>
		<ul>
			<li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Using link</a></li>
			<li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Using style</a></li>
			<li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Using script</a></li>
		</ul>
	</div>
	<div class="col">
		{% highlight html %}{% include html/style-script.html %}{% endhighlight %}
	</div>
</div>
<div class="section" id="html-practicality">
	<div class="col">
		<h3>Practicality over purity</h3>
		<p>Strive to maintain HTML standards and semantics, but not at the expense of practicality. Use the least amount of markup with the fewest intricacies whenever possible.</p>
	</div>
</div>
<div class="section" id="html-attribute-order">
	<div class="col">
		<h3>Attribute order</h3>
		<p>HTML attributes should come in this particular order for easier reading of code.</p>
		<ul>
			<li><code>id</code>, <code>name</code></li>
			<li><code>class</code></li>
			<li>everything else</li>
		</ul>
	</div>
	<div class="col">
		{% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
	</div>
</div>
<div class="section" id="html-boolean-attributes">
	<div class="col">
		<h3>Boolean attributes</h3>
		<p>A boolean attribute is one that needs no declared value. XHTML required you to declare a value, but HTML5 has no such requirement.</p>
		<p>For further reading, consult the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">WhatWG section on boolean attributes</a>:</p>
		<blockquote>
			<p>The presence of a boolean attribute on an element represents the true value, and the absence of the attribute represents the false value.</p>
		</blockquote>
		<p>If you <em>must</em> include the attribute's value, and <strong>you don't need to</strong>, follow this WhatWG guideline:</p>
		<blockquote>
			<p>If the attribute is present, its value must either be the empty string or [...] the attribute's canonical name, with no leading or trailing whitespace.</p>
		</blockquote>
		<p><strong>In short, don't add a value.</strong></p>
	</div>
	<div class="col">
		{% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
	</div>
</div>
<div class="section" id="html-reducing-markup">
	<div class="col">
		<h3>Reducing markup</h3>
		<p>Whenever possible, avoid superfluous parent elements when writing HTML. Many times this requires iteration and refactoring, but produces less HTML. Take the following example:</p>
	</div>
	<div class="col">
		{% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
	</div>
</div>
<div class="section" id="html-javascript">
	<div class="col">
		<h3>JavaScript generated markup</h3>
		<p>Writing markup in a JavaScript file makes the content harder to find, harder to edit, and less performant. Avoid it whenever possible.</p>
	</div>
</div>
<div class="section" id="html-comments">
	<div class="col">
		<h3>Commenting</h3>
		<p>Put your comments in PHP code if you must include comments in your HTML.</p>
	</div>
	<div class="col">
		{% highlight html %}{% include html/comments.html %}{% endhighlight %}
	</div>
</div>
<div class="heading" id="css">
	<h2><span class='char char-scarecrow'></span> CSS</h2>
	<blockquote>
		<p>I haven't got a brain... only <strong>style</strong>.</p>
	</blockquote>
</div>
<div class="section" id="css-syntax">
	<div class="col">
		<h3>Syntax</h3>
		<ul>
			<li>Use actual tab characters.</li>
			<li>When grouping selectors, keep individual selectors to a single line.</li>
			<li>CSS rules should be comma seperated but live on new lines.</li>
			<li>CSS blocks should be seperated by a single new line. not two. not 0.</li>
			<li>Avoid specifying units for zero values, e.g., <code>margin: 0;</code> instead of <code>margin: 0px;</code>.</li>
		</ul>
	</div>
	<div class="col">
		{% highlight css %}{% include css/syntax.css %}{% endhighlight %}
	</div>
</div>
<div class="section" id="css-javascript">
	<div class="col">
		<h3>Javascript Classes</h3>
		<p>
			syntax: <code>js-&lt;targetName&gt;</code>
		</p>
		<p>
			JavaScript-specific classes reduce the risk that changing the structure or theme of components will inadvertently affect any required JavaScript behaviour and complex functionality. It is not neccesarry to use them in every case, just think of them as a tool in your utility belt. If you are creating a class, which you dont intend to use for styling, but instead only as a selector in JavaScript, you should probably be adding the <code>js-</code> prefix.
		</p>
		<blockquote>
			<p>
				Again, JavaScript-specific classes should not, under any circumstances, be styled.
			</p>
		</blockquote>
	</div>
	<div class="col">
		{% highlight html %}{% include css/javascript.html %}{% endhighlight %}
	</div>
</div>
<div class="section" id="css-quotes">
	<div class="col">
		<h3>Quotes</h3>
		<p>
			Quotes are optional in CSS and LESS. We use double quotes as it is visually clearer that the string is not a selector or a style property.
		</p>
	</div>
	<div class="col">
		{% highlight css %}{% include css/quotes.css %}{% endhighlight %}
	</div>
</div>

<div class="heading" id="javascript">
	<h2><span class='char char-dorothy'></span> Javascript</h2>
	<blockquote>
		<p>Toto, I've a feeling we're not in <strong>the global namespace</strong> anymore.</p>
	</blockquote>
</div>

<div class="section" id="js-syntax">
	<div class="col">
		<h3>Syntax</h3>
		<ul>
			<li>Use actual tab characters</li>
			<li>End each statement with a semicolon <code>;</code></li>
			<li>Put the <code>{</code> on the same line as the code block declaration, <strong>not</strong> prepended by a space.</li>
			<li>Avoid excessive whitespace. Code blocks should have 1 or 2 line breaks between them, never more.</li>
			<li>Else should look like this: <code>} else {</code></li>
			<li>Else If should look like this: <code>} else if(...){</code></li>
			<li>Pad your operators with a single space.</li>
			<li>Always use <code>{</code> and <code>}</code> to define blocks of code, and never compress a block of code to a single line.</li>
			<li>Don't do anything that can be done in CSS.</li>
		</ul>
	</div>
	<div class="col">
		{% highlight js %}{% include js/syntax.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-object-creation">
	<div class="col">
		<h3>Object and Array Creation</h3>
		<p>
			Use the literal syntax for object and array creation.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/creation.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-reserved">
	<div class="col">
		<h3>Reserved Words</h3>
		<p>
			Don't use <a href="http://es5.github.io/#x7.6.1">reserved words</a> as keys. It won't work in IE8. <a href="https://github.com/airbnb/javascript/issues/61">More info</a>
		</p>
		<p>
			Use readable synonyms in place of reserved words.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/reserved.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-push">
	<div class="col">
		<h3>Pushing to an Array</h3>
		<p>
			If you don't know array length use Array#push.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/push.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-slice">
	<div class="col">
		<h3>Copying Arrays</h3>
		<p>
			When you need to copy an array use Array#slice. <a href="http://jsperf.com/converting-arguments-to-an-array/7">jsPerf</a>
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/slice.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-strings">
	<div class="col">
		<h3>Strings</h3>
		<p>
			Use single quotes <code>''</code> for strings
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/strings.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-string-join">
	<div class="col">
		<h3>Joining Strings</h3>
		<p>
			When programmatically building up a string, use Array#join instead of string concatenation. Mostly for IE: <a href="http://jsperf.com/string-vs-array-concat/2">jsPerf</a>.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/string-join.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-functions">
	<div class="col">
		<h3>Functions</h3>
		<p>
			Never declare a function in a non-function block (if, while, etc). Assign the function to a variable instead. Browsers will allow you to do it, but they all interpret it differently, which is bad news bears.
		</p>
		<blockquote>
			<p>
				Note: ECMA-262 defines a <code>block</code> as a list of statements. A function declaration is not a statement. <a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf#page=97">Read ECMA-262's note on this issue</a>.
			</p>
		</blockquote>
	</div>
	<div class="col">
		{% highlight js %}{% include js/functions.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-arguments">
	<div class="col">
		<h3>Arguments</h3>
		<p>
			Never name a parameter <code>arguments</code>, this will take precedence over the arguments object that is given to every function scope.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/arguments.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-properties">
	<div class="col">
		<h3>Properties</h3>
		<p>
			Use dot notation when accessing properties.
		</p>
		<p>
			Use subscript notation <code>[]</code> when accessing properties with a variable.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/properties.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-variables">
	<div class="col">
		<h3>Variables</h3>
		<p>
			Always use <code>var</code> to declare variables. Not doing so will result in global variables. <strong>We want to avoid polluting the global namespace</strong>. Captain Planet warned us of that.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/variables.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-multiple-variables">
	<div class="col">
		<h3>Declaring Multiple Variables</h3>
		<p>
			Use one <code>var</code> declaration for multiple variables and declare each variable on a newline.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/multiple-variables.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-unassigned-variables">
	<div class="col">
		<h3>Declaring Unassigned Variables</h3>
		<p>
			Declare unassigned variables last. This is helpful when later on you might need to assign a variable depending on one of the previous assigned variables.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/unassigned-variables.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-where-variables">
	<div class="col">
		<h3>Where to Declare Variables</h3>
		<p>
			Assign variables at the top of their scope. This helps avoid issues with variable declaration and assignment hoisting related issues.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/where-variables.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-hoisting">
	<div class="col">
		<h3>Hoisting</h3>
		<p>
			Variable declarations get hoisted to the top of their scope, their assignment does not.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/hoisting1.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-hoisting2">
	<div class="col">
		<p>
			Anonymous function expressions hoist their variable name, but not the function assignment.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/hoisting2.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-hoisting3">
	<div class="col">
		<p>
			Named function expressions hoist the variable name, not the function name or the function body.
		</p>
	</div>
	<div class="col">
		{% highlight js %}{% include js/hoisting3.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-hoisting4">
	<div class="col">
		<p>
			Function declarations hoist their name and the function body.
		</p>
		<blockquote>
			<p>
				For more information refer to <a href="http://www.adequatelygood.com/2010/2/JavaScript-Scoping-and-Hoisting">JavaScript Scoping & Hoisting</a> by <a href="http://www.adequatelygood.com/">Ben Cherry</a>.
			</p>
		</blockquote>
	</div>
	<div class="col">
		{% highlight js %}{% include js/hoisting4.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-equality">
	<div class="col">
		<h3>Conditional Expressions & Equality</h3>
		<p>
			Use <code>===</code> and <code>!==</code> over <code>==</code> and <code>!=</code>.
		</p>
		<p>
			Conditional expressions are evaluated using coercion with the ToBoolean method and always follow these simple rules:
		</p>
		<ul>
			<li><strong>Objects</strong> evaluate to <strong>true</strong></li>
			<li><strong>Undefined</strong> evaluates to <strong>false</strong></li>
			<li><strong>Null</strong> evaluates to <strong>false</strong></li>
			<li><strong>Booleans</strong> evaluate to <strong>the value of the boolean</strong></li>
			<li><strong>Numbers</strong> evaluate to <strong>false</strong> if <strong>+0, -0, or NaN</strong>, otherwise <strong>true</strong></li>
			<li><strong>Strings</strong> evaluate to <strong>false</strong> if an empty string <code>''</code>, otherwise <strong>true</strong></li>
		</ul>
	</div>
	<div class="col">
		{% highlight js %}{% include js/equality.js %}{% endhighlight %}
	</div>
</div>
<div class="section" id="js-equality2">
	<div class="col">
		<p>
			Use shortcuts.
		</p>
		<blockquote>
			<p>
				For more information see <a href="http://javascriptweblog.wordpress.com/2011/02/07/truth-equality-and-javascript/#more-2108">Truth Equality and JavaScript</a> by Angus Croll.
			</p>
		</blockquote>
	</div>
	<div class="col">
		{% highlight js %}{% include js/equality2.js %}{% endhighlight %}
	</div>
</div>


<div class="heading" id="automation">
	<h2><span class='char char-tinman'></span> Testing & Automation</h2>
	<blockquote>
		<p>Now I know I've got a <strong>linter</strong>, 'cause it's breaking...</p>
	</blockquote>
</div>

<div class="section">
	<div class="col">
		<p>
			Coming soon...
		</p>
	</div>
</div>