<footer class="footer">
  <p>&lt;3</p>
  <p>This guide is a mashup of the <a href="https://github.com/mdo/code-guide">MDO's code guide</a>, <a href="https://github.com/airbnb/javascript">AirBNB's javascript guide</a>, <a href="https://github.com/rwaldron/idiomatic.js">Idiomatic Javascript</a>, the <a href="https://gist.github.com/fat/a47b882eb5f84293c4ed">fat's LESS Coding Guidelines</a>, and our own crazy idea of how we should work.</p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=rtraction&repo=yellow-brick-road&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=rtraction&repo=yellow-brick-road&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/rtraction" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @rtraction</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="rtraction">Tweet</a>
    </li>
  </ul>
</footer>
